Chickensoft.AutoInject.Tests/coverage/*
!Chickensoft.AutoInject.Tests/coverage/.gdignore

.godot/
bin/
obj/
.generated/
.vs/
.DS_Store
Chickensoft.AutoInject/nupkg/
!Chickensoft.AutoInject/nupkg/.gitkeep
