Chickensoft.AutoInject.Tests/coverage/*
!Chickensoft.AutoInject.Tests/coverage/.gdignore

.godot/
bin/
obj/
.generated/
.vs/
.idea/
.DS_Store
nupkg/
!Chickensoft.AutoInject/nupkg/.gitkeep
BenchmarkDotNet.Artifacts/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs
